# Copy this file to .env once your load script/db connection is working.

POSTGRES_USER=sales_user
POSTGRES_PASSWORD=sales_pass
POSTGRES_DB=sales_dw
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

SYNTHETIC_ORDER_COUNT=500
RANDOM_SEED=42

FAKE_STORE_API_URL=https://fakestoreapi.com/products
